kopo-kopo.ids
.project
.gems
.idea
.bundle
.rspec
dump.*.dat
*.rdb
push_*.dat
db/*.sqlite3
config/database.yml
config/initializers/splash_crawler.rb
log
data
data/**/*
data/*
log/*.log
tmp/**/*
tmp/*
config/*.pem
config/database.yml
nbproject
public/data/*
gem_graph.png
*.swp
*.sublime*
*.rvmrc
*.DS_Store
*._*
public/images/graphic-displays
db/sphinx/**/*
.ruby-*
